@using Administrator.at.DocuflairConnector.Models;
@model ConfigurationModel

@{
    Layout = "_ConfigureModule";
}

@await Component.InvokeAsync("StoreScope")

<widget target-zone="admin_button_toolbar_before">
    <button id="SaveConfigButton" type="submit" name="save" class="btn btn-warning" value="save">
        <i class="fa fa-check"></i>
        <span>@T("Admin.Common.Save")</span>
    </button>
</widget>

<form asp-action="Configure">
    <div asp-validation-summary="All"></div>
    <div class="adminContent">
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="QrScanEnabled" />
            </div>
            <div class="adminData">
                <editor asp-for="QrScanEnabled" />
                <span asp-validation-for="QrScanEnabled"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="QrGenerationEnabled" />
            </div>
            <div class="adminData">
                <editor asp-for="QrGenerationEnabled" />
                <span asp-validation-for="QrGenerationEnabled"></span>
            </div>
        </div>
        @*        <div class="adminRow">
        <div class="adminTitle">
        <smart-label asp-for="GeoDataEnabled" />
        </div>
        <div class="adminData">
        <editor asp-for="GeoDataEnabled" />
        <span asp-validation-for="GeoDataEnabled"></span>
        </div>
        </div>
        <div class="adminRow">
        <div class="adminTitle">
        <smart-label asp-for="CardAuthEnabled" />
        </div>
        <div class="adminData">
        <editor asp-for="CardAuthEnabled" />
        <span asp-validation-for="CardAuthEnabled"></span>
        </div>
        </div>*@
    </div>
</form>